.lastAppointments {
    padding: 18px 0 0 18px;
}

.appointmentsTitle {
    padding-bottom: 18px;
}

.appointmentsAll {
    flex: 0 1 auto;
    align-self: center;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.appointmentsRow {
    display: flex;
}

.appointmentsAllBtn {
    color: #50CAFF;
}

.lastAppointments .appointment {
    display: inline-block;
    width: 475px;
}

