.calendar {
    height: 480px;
    width: 573px;
    margin-left: 40px;
    background: #EBE7FF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.buttonPrev {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border:none;
    position: absolute;
    left: 186px;
    top:22px;
}

.buttonNext {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border:none;
    position: absolute;
    right: 186px;
    top: 22px;
}

.calendarHeader {
    display: flex;
    height: 57px;
    background-color: #7761FF;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.calendarHeader p {
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    align-self: center;
    margin: 0 auto;
}

.calendarTable {
    background: #EBE7FF;
    border-collapse: collapse;
    padding: 0 10px;
}

.tableWrap {
    padding: 0 10px;
    background: #EBE7FF;
}

.calendarTable td{
    width: 79px;
    height: 63px;
    padding: 14px 0 0 14px;
    vertical-align: sub;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
    border: none;
    background: #fff;
}

.calendarTable th {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding: 10px 0;
}

