.ElectronicCardWrap {
    padding: 35px 0 40px 18px;
}

.ElectronicCard {
    display: flex;
    flex-wrap: wrap;
}

.ElectronicCardWrap  h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 16px 0;
}

.ElectronicCard h2 {
    font-weight: 400;
    font-size: 28px;
    margin: 0;
    padding: 18px 0 10px 0;
    line-height: 30px;
}

.cardItem {
    display: flex;
    box-shadow: 0 4px 4px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    border: 2px solid transparent;
    flex: 0 1 540px;
    box-sizing: border-box;
    height: 183px;
}

.cardItem:nth-child(odd) {
    margin-right: 16px;
}

.cardItem:nth-child(1), .cardItem:nth-child(2) {
    margin-bottom: 15px;
}

.cardItem:hover {border: 2px solid #50CAFF;}
.cardItem:hover .cardIcon  {background-color: #50CAFF;}
.cardItem:hover .cardIcon svg path{ fill: white;}
.cardItem:hover hr {color: #50CAFF; border:1px solid #50CAFF;}
.cardItem:hover  ul li {color: #50CAFF;}

.cardIcon svg path{fill: #EBE7FF;}
.cardIcon {padding: 67px 45px 0;}
.cardContent {padding-left: 30px;
    padding-right: 30px;}

hr {
    border: 1px solid #EBE7FF;
    border-radius: 1px;
    color: #EBE7FF;
    margin: 0;
}

.cardContent ul , .cardContent p {
    padding-top: 20px;
    margin: 0;
}

.cardContent ul li {
    color: #EBE7FF;
    line-height: 24px;
    padding-bottom: 7px;
}

.cardContent ul li span {
    color: #000;
}
