@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    font-family: Rubik;
}
.app-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1366px;
    height: 100vh;
    grid-template-areas:
            "navbar header header"
            "navbar content content"
            "navbar content content";

    grid-template-rows: 55px auto;
    grid-template-columns: 190px auto;
}

.app-wrapper-content {
    grid-area: content;
    background: #fcfcfc;
}

